doctype html
html(lang="ru-RU")
	include ../common/head.pug
body
	main.main-layout
		<!-- / ========= content ========= \ -->
		block content
		<!-- / ========= svg ========= \ -->
		include ../common/svg.pug
	include ../common/footer.pug